<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mood App</title>
  <link rel="shortcut icon" href="favicon.ico">
  <script src="https://kit.fontawesome.com/14935d9727.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Keep Track of your daily mood</h1>
  <h2>Choose your Mood:</h2>


  <h3>Messages</h3>
  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message">
      <span style="color:<%= messages[i].color %>"><%= messages[i].name %></span>
      <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      <span><button class="moodColor">Change Color</button></span>
    </li>
  <% } %>
  </ul>

  <h2>Add a message</h2>

  <form action="/mood" method="POST">
  <input type="text" name="name">
  <button type="submit">Enter your mood</button>
  </form>



  <script src="main.js"></script>

</body>
</html>
